
<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

<body class="">
  <div class="wrapper">
    <%- include('partials/sidebar') %>
    <div class="main-panel">
        <%- include('partials/navbar') %>
      <div class="content">
        <div class="row">
        
          <div class="col-md-12">
            <h3>Share something!</h3>
            <div class="card">
              <div class="card-body">
                <form method="post" action="/users/post">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Post type</label>
                    <select class="form-control" name="type" id="exampleFormControlSelect1">
                      <option>Health Tip</option>
                      <option>Fitness Tip</option>
                      <option>Home Remedies</option>
                      <option>First Aid Advice</option>
                      <option>Other</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Post</label>
                    <textarea name="title" type="text" class="form-control" id="exampleInputPassword1" placeholder="Type something here!" rows="10" required></textarea>
                  </div>
                  <input type="hidden" value="<%- user.name %>" name="username"/>
                  <input type="hidden" value="<%- user._id %>" name="userid"/>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>
  </div>
 
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <script src="../assets/demo/demo.js"></script>
</body>

</html>